
<div class="form container center-div center">
  <form action="<%= session_url %>" method="post">
    <div><h1>Sign In</h1></div>
    <div class="form-group">
      <input type="hidden"
             name="authenticity_token"
             value="<%= form_authenticity_token %>">
    </div>
    <div class="form-group">
      <label class="sign-in">
        Email
        <input type="text" name="user[email]" value="">
      </label>
    </div>
    <div class="form-group">
      <label class="sign-in">
        Password
        <input type="password" name="user[password]" value="">
      </label>
    </div>
    <input class="sign_in" type="submit" value="Sign In!">
    <p>Don't have an account? <%= link_to 'Sign Up!', new_user_url %> </p>
  </form>
</div>
