<body class="unique">
	<div class="text-center" style="padding:100px 0">
		<div class="login-form-background">
			<div class="logo">sign up</div>
			<div class="login-form-1">
				<form id="register-form" class="text-left" action="<%= users_url %>" method="post">
		      <input type="hidden"
		             name="authenticity_token"
		             value="<%= form_authenticity_token %>">
					<div class="login-form-main-message"></div>
					<div class="main-login-form">
						<div class="login-group">
							<div class="form-group">
								<label for="reg_username" class="sr-only">First Name</label>
								<input type="text" class="form-control" id="reg_username" name="user[first_name]" placeholder="first name">
							</div>
							<div class="form-group">
								<label for="reg_email" class="sr-only">Last Name</label>
								<input type="text" class="form-control" id="reg_email" name="user[last_name]" placeholder="last name">
							</div>
							<div class="form-group">
								<label for="reg_email" class="sr-only">Email</label>
								<input type="text" class="form-control" id="reg_fullname" name="user[email]" placeholder="email">
							</div>
		          <div class="form-group">
								<label for="reg_password" class="sr-only">Password</label>
								<input type="password" class="form-control" id="reg_password" name="user[password]" placeholder="password">
							</div>
						</div>
						<button type="submit" class="login-button"><i class="glyphicon glyphicon-chevron-right"></i></button>
					</div>
					<div class="etc-login-form">
						<p>already have an account? <%= link_to 'sign in', new_session_url %></p>
					</div>
					<div class="etc-login-form">
						<p>not ready to sign up?
							<%= link_to 'sign in as a guest', session_path(
									{user: {email: 'guestuser@guest.user', password: 'password'}}),
									method: :post%>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
<body>
