/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "datepicker";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

.unique {
   background: url('http://res.cloudinary.com/dbw79utiw/image/upload/v1445838856/redwoods_ijijdw.jpg') no-repeat;
}

.container {
  width: 100vw;
}

.col-xs-12 {
  width: 100%;
  position: relative;
  text-align: center;
}

.footer {
  background-color: #eee;
  min-height: 200px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}

.search-form {
  text-align: center;
  margin-bottom: 25px;
}

.app {
  background-color: rgba(163, 173, 167, 0.49);
  position: relative;
  padding-bottom: 300px;
  min-height: 100vh;
}

.display-box {
  padding: 0;
  width:100%;
  max-width:980px;
  margin: 0 auto;
  position: relative;
  display: block;
  top: 0px;
  z-index: 20;
  font-weight: bold;
  border-radius: 0;
  overflow: hidden;
  overflow-x: hidden;
}

.activity-table {
  border: 4px solid black;
  padding: 15px;
  text-align: center;
}

.col-xs-4.map-user-photo {
  padding: 0;
}

.row {
  margin: 0;
}

.display-box.panel {
  margin-bottom: 0;
}

.container.activity-details {
  width: 100%;
  padding: 0;
}

.container.footer-container {
  max-width: 980px;
}

.about-footer {
  padding: 35px 20px 20px 20px;
  width: 50%;
  font-size: 12px;
  float: left;
}

.contact-footer {
  padding: 35px 20px 20px 20px;
  width: 50%;
  font-size: 12px;
  float: right;
}

.display-box ul li {
  display: inline;
}

.display-box h3 {
  font-family: roboto;
  text-align: center;
}

.display-box h4 {
  font-family: roboto;
  text-align: center;
}

.submit-button {
  width: 100%;
  border-radius: 0;
  position: relative;
  max-width: 250px;
}

button[value="true"] {
  background: #fff;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;

}
button[value="false"] {
  box-shadow: 0 3px 0 0 #8c8c8c;
}

.show-filters {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 20px;
  background-color: #eee;
}

.show-filters button {
  border-radius: 0;
}

.create-button {
  float: right;
  position: relative;
  bottom: 70px;
  right: 50px;
  border-radius: 0;
}

.profile {
  width:100%;
  max-width: 980px;
  min-height:100%;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  margin: 0 auto;
}

.map {
  width: 100%;
  max-width: 980px;
  height: calc(100vh - 200px);
  max-height: 450px;
  margin-top: 57px;
}

.show-activity {
  font-family: roboto;
  position: absolute;
  top: 55px;
  right: 7px;
  z-index: 200;
}

.list {
  float: left;
}

.form-box {
  max-height: 400px;
  max-width: 300px;
  float: right;
}

.center_div {
    margin: 0 auto;
    width:100%;
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}


body {
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
}

@media (max-width:768px) {

  .fb-profile-text>h1{
      font-weight: 700;
      font-size:16px;
  }

  .fb-image-profile {
      margin: -45px 10px 0px 25px;
      z-index: 9;
      width: 20%;
  }
}

.followers-table  {
  margin-top: 150px;
}

.card {
  //  padding: 30px;
   background-color: rgba(214, 224, 226, 0.2);
  //  -webkit-border-top-left-radius:5px;
  //  -moz-border-top-left-radius:5px;
  //  border-top-left-radius:5px;
  //  -webkit-border-top-right-radius:5px;
  //  -moz-border-top-right-radius:5px;
  //  border-top-right-radius:5px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   min-height: 225px;
   text-align: center;
}
.card.hovercard {
   position: relative;
   display: inline-block;
   padding-top: 0;
   overflow: hidden;
   text-align: center;
   background-color: #fff;
   background-color: rgba(255, 255, 255, 1);
}

.useravatar img {
   width: 150px;
   height: 150px;
   max-width: 150px;
   max-height: 150px;
  //  -webkit-border-radius: 5%;
  //  -moz-border-radius: 5%;
  //  border-radius: 5%;
   border: 5px solid rgba(255, 255, 255, 0.5);
}

.search-result img{
  width: 150px;
  height: 150px;
  max-width: 150px;
  max-height: 150px;
  // -webkit-border-radius: 5%;
  // -moz-border-radius: 5%;
  // border-radius: 5%;
  border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.hovercard.card-bkimg img {
  min-width: 700px;
  max-width: 1300px;
  height: auto;
}

.hovercard {
  position: relative;
  display: inline-block;
}

.card.hovercard .card-background {
   height: 130px;
}
.card-background img {
  //  -webkit-filter: blur(25px);
  //  -moz-filter: blur(25px);
  //  -o-filter: blur(25px);
  //  -ms-filter: blur(25px);
  //  filter: blur(25px);
  //  margin-left: -100px;
  //  margin-top: -200px;
  min-width: 700px;
  max-width: 1300px;
  height: auto;
  //  width: 100%;
}
.card.hovercard .useravatar {
   position: absolute;
   bottom: 15px;
   left: 15px;
  //  right: 0;
}

.card.hovercard .card-info {
   position: absolute;
   bottom: 14px;
   left: 0;
   right: 0;
}
.card.hovercard .card-info .card-title {
   padding:0 5px;
   font-size: 20px;
   line-height: 1;
   color: #262626;
   background-color: rgba(255, 255, 255, 0.1);
  //  -webkit-border-radius: 4px;
  //  -moz-border-radius: 4px;
  //  border-radius: 4px;
}
.card.hovercard .card-info {
   overflow: hidden;
   font-size: 12px;
   line-height: 20px;
   color: #737373;
   text-overflow: ellipsis;
}
.card.hovercard .bottom {
   padding: 0 20px;
   margin-bottom: 17px;
}
.btn-pref .btn {
   -webkit-border-radius:0 !important;
}

.profile-row {
  height: 150px;
}

/*=== 1. General Structure ===*/
// html, body {
//   background: #efefef;
//   padding: 10px;
//   font-family: 'Varela Round';
// }
/*=== 2. Anchor Link ===*/
a {
  color: #aaaaaa;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-background {
  background-color: #555555;
  opacity: .99;
  min-width: 300px;
  padding: 20px;
  // border-radius: 8px;
  display: inline-block;
}

.login-form-1 {
  max-width: 300px;
  // border-radius: 5px;
  display: inline-block;
}
.main-login-form {
  position: relative;
}
.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  // border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold;
  height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
  color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
  color: #999999;
}
.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative;
}
.login-form-1 .form-group:last-child {
  border-bottom: 0;
}
.login-group {
  background: #ffffff;
  color: #999999;
  // border-radius: 8px;
  padding: 10px 20px;
  margin-bottom: 25px;
}

/*=== 5. Login Button ===*/
.login-form-1 .login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
  color: #555555;
}
.login-form-1 .login-button.clicked:hover {
  transform: none;
}
.login-form-1 .login-button.clicked.success {
  color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
  color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  display: block;
  margin-top: -25px;
  padding: 7px 9px;
  background: #777777;
  color: #ffffff;
  // border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
}
label.form-invalid:after {
  top: 100%;
  right: 10px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #777777;
  border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  // border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
  border-left-color: #2ecc71;
}
.login-form-main-message.error {
  border-left-color: #e74c3c;
}
/* hover style just for information */
label:hover:before {
  border: 1px solid #f6f6f6 !important;
}

.logo {
  padding: 15px 0;
  font-size: 25px;
  color: #aaaaaa;
  font-weight: bold;
}

.sign-out {
  padding-right: 15px;
  padding-top: 5px;
  margin-right: 0px !important;
  float: right !important;
}

.sign-in {
  padding-left: 10px;
}

.clearfix:after {
  clear: both;
  display: block;
  content: "";
}

.useravatar {
  position: relative;
  display: inline-block;
}

.useravatar:hover {
  cursor: pointer;
}

.edit:hover {
  cursor: pointer;
}

.useravatar:hover .edit {
  display: block;
}

.hovercard:hover .card.hovercard.edit{
  display: block;
}

.edit {
	padding-top: 7px;
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: #000;
}

.map-user-photo img {
  width: 100%;
  max-width: 250px;
}

.row-user-photo {
  height: 130px;
  width: 130px;
}

.row-user-photo img {
  width: 100%;
}

.activity-form {
  margin-bottom: 5px;
}

.search-result.container-fluid.profile-row td {
  font-family: Roboto;
  font-size: 24px;
}

.follow-button {
  border-radius: 0;
}

.main-page {
  margin: 0 auto;
  max-width: 980px;
}

.well.follow-container {
  overflow-y: scroll;
}
.btn.btn-default.remove {
  float:right;
  border:none;
  height:40px;
  width:40px;
  background-color: rgba(1,1,1,0);
}

.clearfix .box-top {
  height: 40px;
  background-color: rgba(5,110,0,.7);
}

.activity-description {
  background-color: rgba(204, 204, 204, 0);
  padding: 15px 0 15px 0;
}

.organizer-info {
  padding: 178px 0 177px 0;
  background-color: rgba(71, 130, 179, 0.53);
}

.display-box .panel {
  border: none;
}

.edit-activity-form {
  padding: 15px;
  background-color: rgba(5,110,0,.2);
}

.create-activity-form {
  padding: 15px;
  background-color: rgba(5,110,0,.2);
}

.edit-profile-form {
  padding: 15px;
  text-align: center;
  background-color: rgba(5,110,0,.2);
}

.btn.edit-button {
  width: 149px;
  border-radius: 0;
}

.map-view {
  max-height: 450px;
  position:relative;
}

.navbar-nav {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  float: none;
  > li {
    float: none;
    display: inline-block;
  }
}

.rsvp {
  padding: 15px;
  text-align: center;
}

.navbar-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 40px;
  margin-left: 30px;
  color: rgba(5,110,0,.9);
}

.navbar-default {
  background-color: #EEE;
}

.description {
  background-color: rgba(5,110,0,.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.display-box h5 {
  font-family: roboto;
  text-align: center;
  overflow-x: scroll;
}

.dropdown-menu {
  right: 0;
}

.btn.btn-lg.dropdown-toggle {
  background-color: #eee;
  border: none;
}

h1.other-attendees {
  font-size: 24px;
  font-family: roboto;
  background-color: rgba(5,110,0,0.7);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0 auto;
}
