/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.map {
  position:absolute;
  width:100%;
  min-height:100%;
  top:0px;
  left:0px;
  z-index:-1;
}
.show-activity {
  top: 200px;
  float: right;
  padding-top: 200px;
}

.sign-out {
  padding-right: 75px;
}

.list {
  float: left;
}

.form-box {
  max-height: 400px;
  max-width: 300px;
  float: right;
}

.create-button {
  float: right;
  position: fixed;
  bottom: 100px;
  right: 50px;
}

.center_div{
    margin: 0 auto;
    width:100%;
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}
